# Oracle XE
ORACLE_PASSWORD=ChangeMeStrongSystemPass1!
ORACLE_APP_USER=cdmall
ORACLE_APP_PASSWORD=ChangeMeStrongAppPass1!

# Mail
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_app_password
