<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Store Header</title>
<link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div class="header-main">
  <div class="header">
    <ul id="menuChange" class="nav navbar-nav">
      <li class="menu menu-active"><a href="/">STORE</a></li>
      <li class="menu"><a href="/boardMain">COMMUNITY</a></li>
    </ul>

    <div id="mainLogo">
      <a href="/" aria-label="캣독왓숑 홈으로 이동">
        <img src="/image/mainLogo2.png" class="main_logo" alt="CatDogWatShong">
      </a>
    </div>

    <ul sec:authorize="isAnonymous()" class="nav navbar-nav" id="top_menu_anonymous">
      <li><a href="/">HOME</a></li>
      <li><a href="/member/join">JOIN</a></li>
      <li><a href="/member/login">LOGIN</a></li>
      <li class="sub-button has-submenu">
        <a href="#" class="submenu-toggle">고객센터</a>
        <ul class="list-group nav-sub">
          <li class="list-group-item oneOnOneInquiry"><a href="/member/login">1:1문의</a></li>
          <li class="list-group-item"><a href="/customerCenter/faqList">자주묻는질문</a></li>
          <li class="list-group-item"><a href="/customerCenter/vocList">고객의소리</a></li>
        </ul>
      </li>
    </ul>

    <ul sec:authorize="isAuthenticated()" class="nav navbar-nav" id="top_menu_authenticated">
      <li><a href="/">HOME</a></li>
      <li><a href="#" id="logout">LOGOUT</a></li>
      <li><a href="/product/list">ORDER</a></li>
      <li class="has-submenu cart-submenu">
        <a href="#" class="submenu-toggle">CART</a>
        <ul class="list-group nav-sub nav-sub2">
          <li class="list-group-item"><a href="/cart/cart_read">장바구니</a></li>
          <li class="list-group-item"><a href="/wish/wish_read">찜목록</a></li>
        </ul>
      </li>
      <li sec:authorize="hasRole('ADMIN')"><a href="/admin/index">MANAGE</a></li>
      <li sec:authorize="hasAnyRole('USER','SELLER')"><a href="/member/read">MYPAGE</a></li>
      <li class="has-submenu support-submenu">
        <a href="#" class="submenu-toggle">고객센터</a>
        <ul class="list-group nav-sub">
          <li class="list-group-item"><a href="#" target="_blank" id="chat">1:1문의</a></li>
          <li sec:authorize="hasRole('ADMIN')" class="list-group-item"><a href="/chatting/chatlist">1:1 채팅기록</a></li>
          <li class="list-group-item"><a href="/customerCenter/faqList">자주묻는질문</a></li>
          <li class="list-group-item"><a href="/customerCenter/vocList">고객의소리</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<script th:inline="javascript">
  $(function() {
    $(document).on("click", "#top_menu_authenticated #logout", function(e) {
      e.preventDefault();
      if (!confirm('로그아웃하시겠습니까?')) return;
      $.ajax({ url: "/member/logout", method: "post" }).done(function() {
        location.href = '/';
      });
    });

    $(document).on("click", ".has-submenu > .submenu-toggle", function(e) {
      e.preventDefault();
      const $submenu = $(this).siblings(".nav-sub");
      $(".has-submenu .nav-sub").not($submenu).hide();
      $submenu.stop().slideToggle(120);
    });

    $(document).on("mouseleave", ".has-submenu", function() {
      $(this).find(".nav-sub").hide();
    });

    const updateHeaderBackground = function() {
      if ($(window).scrollTop() > 0) {
        $('.header').addClass('backgroundChange');
      } else {
        $('.header').removeClass('backgroundChange');
      }
    };
    updateHeaderBackground();
    $(window).on('scroll', updateHeaderBackground);
  });
</script>

<script sec:authorize="hasAnyRole('ADMIN','USER','SELLER')" th:inline="javascript">
  $(function() {
    $("#chat").on("click", function(e) {
      e.preventDefault();
      const w = 680;
      const h = 740;
      const xPos = (window.outerWidth / 2) - (w / 2);
      const yPos = (window.outerHeight / 2) - (h / 2);
      window.open("/chatting/chatmain", "chat_popup", "width=" + w + ",height=" + h + ",left=" + xPos + ",top=" + yPos + ",menubar=yes,status=yes,titlebar=yes,resizable=yes");
    });
  });
</script>
</body>
</html>
